
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title>unibo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="./public/js/index.js"></script>

</head>
<body>
  <%- include('partial/header.ejs') %>
    <div id="carouselExampleSlidesOnly" class="carousel slide" data-ride="carousel">
      <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="public/img/slid2.png" class="d-block w-100" alt="unibo">
        </div>

      </div>
    </div>
    <div class="container-sm">
        <div class="firstcontent row">
          <div class="col-sm-4">
            <div class="card border-0">
              <img src="public/img/icon1.png" class="card-img-top rounded mx-auto d-block" style="max-width: 200px;" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">人性化</h5>
                <p class="card-text  text-center">
                  帶來與真人對話無仿的感覺，</br>
                  達到人機真正流暢溝通的交流。
                  </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card border-0">
              <img src="public/img/icon2.png" class="card-img-top rounded mx-auto d-block" style="max-width: 200px;" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">在地化</h5>
                <p class="card-text  text-center">
                  依據不同地區的地方慣用語，</br>將其彙整出⼀套對應詞庫。
                  </p>
              </div>
            </div>
          </div>
          <div class="col-sm-4">
            <div class="card border-0">
              <img src="public/img/icon3.png" class="card-img-top rounded mx-auto d-block" style="max-width: 200px;" alt="...">
              <div class="card-body">
                <h5 class="card-title text-center">親切感</h5>
                <p class="card-text  text-center">
                  使用二次元虛擬角色，</br>讓人能夠感到有趣以及親切感
                  </p>              
              </div>
            </div>
          </div>
        </div>

      <div class="secondcontent row">
        <div class="col-sm-2"></div>
        <div class="col-sm-4">
          <div class="card border-0">
            <img src="public/img/icon4.png" class="card-img-top rounded mx-auto d-block" style="max-width: 200px;" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">真人接待</h5>
              <p class="card-text  text-center">優點:面對任何問題能快速做出正確應答，講的話也會讓人感到有溫度</br>
                缺點:人力成本、有限服務時間，若過了上班時間，就只能等下次才能問。</p>
            </div>
          </div>
        </div>
        <div class="col-sm-4">
          <div class="card border-0">
            <img src="public/img/icon5.png" class="card-img-top rounded mx-auto d-block" style="max-width: 200px;" alt="...">
            <div class="card-body">
              <h5 class="card-title text-center">機器人Zenbo</h5>
              <p class="card-text  text-center">優點:小巧、會變換表情、跟隨功能，</br>
                缺點:只在室內做移動，答覆制式性，</br>
                處理指令會反應遲鈍幾秒</p>
            </div>            </div>
          </div>
        <div class="col-sm-1"></div>
      </div>
      <div class="feedback" >
        <img src="public/img/feedback.png" class="card-img-top rounded mx-auto d-block">
        <form class="feedback2" method="post" action="javascript:void(0);" enctype="text/plain">
					<input type="text" name="name" placeholder="姓名">
					<input type="text" name="title" placeholder="標題">
					<textarea name="content" placeholder="意見"></textarea>
					<input type="submit" onclick="unibo.feedback()">
					</form>
      </div>
    </div>
<%- include('partial/footer.ejs') %>
</body>
</html>
