
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>unibo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="public/js/index.js"></script>
  <script src="public/js/voice-speech-recognition.js"></script>

  <link rel="stylesheet" type="text/css" href="public/css/main.css">
    <script  src="public/js/menuoc.js"></script>
</head>
<body>

  <div class="menu">
    <div class="menu_left">
      <div class="logo">
        <a href="index.html">
          <img alt="" src="public/images/iclogo.png" >
        </a>
      </div>
      <h3>
        <a href="public/index.html">首頁</a>
      </h3>
      <hr class="a">
      <a href="public/course.html" target="_self">
        <h5>通識課程</h5>
        <hr class="b">
      </a>        
      <a href="public/activity.html" target="_self">
        <h5>通識活動</h5>
        <hr class="b">
      </a>
      <a href="public/ddnews.html" target="_self">
        <h5>日日新</h5>
        <hr class="b">
      </a>
    </div>
  <div class="click" onclick="menuoc()"></div>
  <div class="aboutus"><a href="public/aboutus.html">
    <img alt="" src="public/images/aboutus.png">
    </a>
  </div>
</div>
    <div class="container">
    
      <div class="row">
        <div class="left-main col-sm-3">
          這裡放人物
        </div>
        <div class="middle-main col-sm-6">
          <div class="textBox" id="textBox">
          </div>
          <input type="text" placeholder="(輸入問題)" id="message">
          <button id="gogo">送出</button>
        </div>
        <div class="right-main col-sm-3">
          <div class="buttonList">
            <div class="myStuding">
             學業
            </div>
            <div class="myLearning">
              進修
            </div>
            <div class="myLiving">
              住宿
            </div>
            <div class="myEating">
              飲食
            </div>
          </div>
            
              
        </div>
      </div>
     
    </div>


</body>
</html>