
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <title>unibo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="public/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
  <script src="public/js/product.js"></script>
  <script src="public/js/voice-speech-recognition.js"></script>
  

</head>
<body>
  <%- include('partial/header.ejs') %>
    <div class="container">
      <div class="row">
        <div class="left-main col-sm-3">
          <div class="unibobox">
            <div class="unibo">
             <img src="public/img/unibo/standard.gif" id="uniboface" class="rounded mx-auto d-block" style="width: 100%;min-width:50vw ; position: absolute; left: -14vw;" alt="...">
            </div>
        </div>
        

        </div>
        <div class="middle-main col-sm-6">
          <div class="textBox" id="textBox">
          </div>
          
          <div class="input-group">
            <input type="text" class="form-control" placeholder="(輸入問題)" id="message" aria-label="Recipient's username" aria-describedby="basic-addon2">
            <div class="input-group-append">
              <button class="btn btn-outline-secondary" id="gogo" type="button">送出</button>
              <button class="btn btn-outline-secondary" id="listen" ontouchstart="$('#listen').mousedown();" ontouchend="$('#listen').mouseup();" type="button">按住發話</button>
            </div>
          </div>
         
          <div id="getquestion" class="getquestion">
          
          </div>
        </div>
        <div class="right-main col-sm-2">
          <div class="buttonList">
            <div class="pbl myStuding" onclick="unibo.sendmsg('學業')" >
             學業
            </div>
            <div class="pbl myLearning"  onclick="unibo.sendmsg('申請')">
              申請
            </div>
            <div class="pbl myLiving"  onclick="unibo.sendmsg('住宿')">
              住宿
            </div>
            <div class="pbl myEating"  onclick="unibo.sendmsg('飲食')">
              飲食
            </div>
          </div>
            
              
        </div>
      </div>
     
    </div>

    <%- include('partial/footer.ejs') %>
</body>
</html>