
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>unibo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <!--free-jqGrid-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
   <!--kendo-->
   <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.115/styles/kendo.common.min.css">
   <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.115/styles/kendo.default.min.css">
   <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.blueopal.min.css">
   <!--free-jqGrid-->
   <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.ui.core.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <!--mootools-->
  <link rel="stylesheet" type="text/css" href="../public/css/mootool/MooEditable.css">
	<link rel="stylesheet" type="text/css" href="../public/css/mootool/MooEditable.Extras.css">
  <link rel="stylesheet" type="text/css" href="../public/css/mootool/MooEditable.SilkTheme.css">
  <link rel="stylesheet" type="text/css" href="../public/css/mootool/MooEditable.Forecolor.css">
  <script type="text/javascript" src="../public/js/mootool/mootools.js"></script>
  <script type="text/javascript" src="../public/js/mootool/MooEditable.js"></script>
  <script type="text/javascript" src="../public/js/mootool/MooEditable.UI.MenuList.js"></script>
  <script type="text/javascript" src="../public/js/mootool/MooEditable.Extras.js"></script>
  <script type="text/javascript" src="../public/js/mootool/MooEditable.UI.ButtonOverlay.js"></script>
  <script type="text/javascript" src="../public/js/mootool/MooEditable.Forecolor.js"></script>
   <script src="../public/js/QAlist.js" defer="defer"></script>
</head>
<body>
  <%- include('partial/admHeader.ejs') %>
    <div class="container-sm">
        <div class="title">若回覆中有網址最後請增加“。”使網址跟文字分開，讓伺服器可使其自動轉化為連結</div>
          <table id="qaList" class="table">
           
          </table>
          <div id="qaPage"></div>
     
    </div>

    <%- include('partial/footer.ejs') %>
</body>
</html>