
<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
	<title>unibo</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
  <link rel="stylesheet" href="../public/assets/css/index.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.16.0/umd/popper.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
   <!--free-jqGrid-->
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.11.4/themes/redmond/jquery-ui.min.css">
   <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/css/ui.jqgrid.min.css">
   <!--kendo-->
   <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.115/styles/kendo.common.min.css">
   <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2019.1.115/styles/kendo.default.min.css">
   <link rel="stylesheet" href="https://kendo.cdn.telerik.com/2018.3.1017/styles/kendo.blueopal.min.css">
   <!--free-jqGrid-->
   <script src="https://kendo.cdn.telerik.com/2019.1.115/js/kendo.ui.core.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/free-jqgrid/4.15.5/jquery.jqgrid.min.js"></script>
   <script src="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>

   <script src="../public/assets/js/QAlist.js" defer="defer"></script>
</head>
<body>
    <nav class="header navbar navbar-expand-lg navbar-light bg-light">
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarToggleExternalContent">
        <span class="navbar-toggler-icon"></span>
      </button>
        <a class="logoIcon" href="#">
          <img src="../public/assets/images/logo.png" width="300" class="d-inline-block align-top"  alt="">
        </a>
      <div class="collapse navbar-collapse" id="navbarToggleExternalContent"> <!-- diff : .container寫在nav內 -->
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link" href="#">產品</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">商店</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">關於我們</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">使用說明</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">服務＆社群</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" href="#">顧客回饋</a>
          </li>
        </ul>
      </div>
      
    </nav>
    <div class="container">
      <div id="qa">
        <div class="title"></div>
          <table id="qaList" class="table">
           
          </table>
          <div id="qaPage"></div>
      </div>
     
    </div>


</body>
</html>