::-webkit-scrollbar {
  /*隱藏滾輪*/
  display: none;
  }
body {
  -ms-overflow-style: none;
  height: 100%;
  width: calc(100vw + 18px);
  overflow: auto;
}

#textBox {
  position: relative;
  margin: 5px;
  height: 500px;
  overflow-y: scroll;
  width: 100%;
}

.other {
  color: rgb(25 5 5);
  float: left;
  max-width: 80%;
  position: relative;
  border-radius: 20px;
  background: #ffeaef;
  padding: 10px;
  margin: 5px;
}

.us {
  color: rgb(255 255 255);
  float: right;
  right: 0px;
  max-width: 80%;
  position: relative;
  border-radius: 20px;
  background: #ff8ea7;
  padding: 10px;
  margin: 5px;
}

.line {
  float: left;
  position: relative;
  display: block;
  width: 100%;
}

.logoIcon {
  position: relative;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}


.navbar {
  height: 100%;
  position: relative;
  width: 100%;
  display: block;
}

.navbar-collapse {
  position: relative;
  width: 100%;
  display: block;
}
ul.navbar-nav {
  width: 100%;
  }

li.nav-item {
  margin-left: 3%;
  margin-right: 3%;
  width: 16%;
}

ul.navbar-nav {
  width: 100%;
}
.container {
  max-width: 100%;
  margin-top: 50px;
}

.middle-main {
  overflow-x: hidden;
}

.buttonList {
  height: 100%;
  text-align: -webkit-center;
}

.buttonList > div {
  width: 80%;
  text-align: center;
  border-radius: 20px;
}
.pbl {
  background: white;
  color:#000000;
    border: 2px solid #cb72aa;
    font: inherit;
    line-height: 1;
    margin: 0.5em;
    padding: 1em 1em;
    -webkit-transition: 0.25s;
    transition: 0.25s;
}
.pbl:hover, .pbl:active {
  border-color: var(--hover);
  color:var(--color);
}

.myStuding:hover,
.myStuding:active {
  box-shadow: inset 0 0 0 4em var(--hover);
}
.myLearning:hover,
.myLearning:active {
  box-shadow: inset 0 0 0 4em var(--hover);
}
.myLiving:hover,
.myLiving:active {
  box-shadow: inset 0 0 0 4em var(--hover);
}
.myEating:hover,
.myEating:active {
  box-shadow: inset 0 0 0 4em var(--hover);
}
.myStuding {
    --color: #ffffff;
    --hover: #cb72aa;
  }
.myLearning {
  --color: #ffffff;
  --hover: #ef8f6e;
}
.myLiving {
  --color: #ffffff;
  --hover: #ffdc7f;
}
.myEating {
  --color: #f00000;
  --hover: #e5ff60;
}

.navbar {
  overflow: hidden;
     box-shadow: 0 3px 8px 0 rgb(0, 0, 0, 0.2);
 }
 
#message {border-top: none;border-bottom: red 3px solid;border-left: none;border-right: none;color: red;}

.secondcontent {
  margin-top: 50px;
}

.footer{
  margin-top: 50px;
  padding-top: 25px;
  padding-bottom: 25px;
  text-align: center;
  line-height: 25px;
  height: 75px;
  background: #D3D1D3;
}
.unibo{
  position: absolute;
  width: 100%;
  height: 500px;
  overflow-x: hidden;
}
.unibobox {
  position: absolute;
  width: 100%;
  height: 500px;
  overflow: hidden;
  left: 0px;
  right: 0px;
}
.round_icon {
  width: 50px;
  height: 50px;
  display: flex;
  border: 1px solid black;
  border-radius: 50%;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}
.cont {
  margin: 0px;
  display: grid;
  float: right;
  justify-content: center;
  align-items: center;
  position: relative;
}
.cont2 {
  margin: 0px;
  display: grid;
  float: left;
  justify-content: center;
  align-items: center;
  position: relative;
}
.questionitem {
  display: inline-block;
  padding-left: 5px;
  padding-right: 5px;
  margin-top: 5px;
  border: solid aliceblue;
  border-radius: 20px;
  cursor: pointer;
}
#getquestion {
  height: 60px;
  overflow: scroll;
}
.feedback{
  position:relative;
  left:-5%;
}
.feedback2 {
  margin-left: 15%;
  width: 80%;
  display: inline-block;
}

input[name="name"] {
  width: 25%;
  margin: 2% 2% 2% 0px;
  padding: 1%;
  display: inline;
  border-radius: 5px;
  border: #8181813d solid 3px;
  transition: all 0.6s ease;
}

input[name="title"] {
  width: 100%;
  padding: 1% 0px 1% 1%;
  display: inline;
  border-radius: 5px;
  border: #8181813d solid 3px;
  transition: all 0.6s ease;
}

textarea {
  width: 100%;
  height: 100px;
  border-radius: 5px;
  margin-top: 10px;
  border: #8181813d solid 3px;
  transition: all 0.6s ease;
}

input[name="name"]:focus {
  border-color: #79abfe;
}

input[name="title"]:focus {
  border-color: #79abfe;
}

textarea:focus {
  border-color: #79abfe;
}

input[name="name"]:active {
}

input[type="submit"] {
  width: 20%;
  padding: 1%;
  background-color: #797978;
  border: #797978 solid 1px;
  border-radius: 10px;
  color: white;
  font-weight: bolder;
  transition: all 0.3s ease;
  margin-top: 10px;
}

input[type="submit"]:hover {
  background-color: #50504f;
}
.container-sm{
  margin-top: 50px;
}

@media (min-width: 519px) {
  .buttonList > div {width: 100%;height: 20%;line-height: 9vh;}
}