

@keyframes opens{
  from{
      height: 0px;
      min-height:0px;
  }
  to{
      height: 170px;
      min-height:150px;
  }
}
.content {
  text-align: center;
  border-top: white 1px solid;
  border-bottom: white 1px solid;
  margin-top: 20px;
  min-height: 150px;
  overflow: hidden;
  animation-name:opens;
  animation-duration:2s;
}
.background {
  background: linear-gradient(to right, #ed8093 0%, #db3c78 50%, #9659d0 100%);
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: -1;
  top: 0px;
  left: 0px;
}

.container {
  color: white;
  padding-top: calc(50vh - 145px);
}

nav ul {
  display: inline-flex;
  list-style: none;
  padding-left: 0;
  border: solid 1px #ffffff;
  border-radius: 4px;
  margin-bottom: 0px;
}

.menu {
  display: flex;
  margin-top: 40px;
  height: 40px;
  line-height: 40px;
}

nav ul li {
  border-left: solid 1px #ffffff;
}
nav ul li a {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 40px;
  padding-left: 4vw;
  padding-right: 4vw;
  color: white;
}

nav ul li a:hover {
  line-height: 40px;
  padding-left: 4vw;
  padding-right: 4vw;
  color: white;
  text-decoration: none;
}
nav.menu ul li a {
  cursor: pointer;
  padding-top: 15px;
  padding-bottom: 15px;
  line-height: 40px;
  padding-left: 2vw;
  padding-right: 2vw;
  color: white;
}

nav.menu ul li a:hover {
  line-height: 40px;
  padding-left: 2vw;
  padding-right: 2vw;
  color: white;
  text-decoration: none;
}
nav ul li:first-child {
  border-left: 0;
}


nav ul li:hover {
  background-color: #adb5bd;
}

nav ul li:active {
  background-color: rgba(255, 255, 255, 0.175);
}

.menu::before {
  content: "";
  position: absolute;
  width: 0px;
  border: white 0.5px solid;
  margin: -40px;
  height: 40px;
}



.content::before {
  content: "";
  margin-top: -20px;
  height: 20px;
  border: white 1px solid;
  width: 1px;
  position: absolute;
}

.bigmenu {
  height: 40px;
  line-height: 40px;
}
.card {
  background-color: #000000e6;
  border-radius: 20px;
}

img.card-img-top {
  width: 100%;
}

img.card-img-top:hover {
  width: 110%;
  margin-left: -5%;
  transition: all 0.3s;
}
.imgbox {
  overflow: hidden;
  border-radius: 20px 20px 0px 0px;
}
.teams.row {
  margin-top: calc(50vh - 165px);
}

.col-sm-5 {
  margin-top: 100px;
}

.kilin:before {
  content: "";
  border: white 1px solid;
  width: 1px;
  height: calc(50vh - 65px);
  margin-top: calc(-50vh + 166px);
  position: absolute;
  margin-left: calc(-6vw - 75px);
}
.kilin {
    width: 100%;
    text-align: center;
}
.midas::before {
  content: "";
  border-left: white 2px solid;
  border-bottom: white 2px solid;
  width: 20vw;
  height: calc(50vh);
  margin-top: calc(-50vh + 166px);
  position: absolute;
  margin-left: calc(-2vw - 20px);
}
.midas {
width: 100%;
text-align: center;
}
.mia::before {
  content: "";
  border-right: white 2px solid;
  border-bottom: white 2px solid;
  width: 20vw;
  height: calc(50vh + 700px);
  margin-top: calc(-50vh + 166px);
  position: absolute;
  margin-left: calc(-18vw + 25px);
}
.mia {
width: 100%;
text-align: center;
}
.zedas::before {
  content: "";
  border-left: white 2px solid;
  width: 1px;
  height: calc(50vh + 700px);
  margin-top: calc(-50vh + 166px);
  position: absolute;
  margin-left: calc(6vw + 75px);
}
.zedas {
width: 100%;
text-align: center;
}
@media (max-width: 576px){
  .midas::before {
    content: "";
    border-left: white 2px solid;
    border-bottom: white 2px solid;
    width: 20vw;
    height: calc(50vh + 800px);
    margin-top: calc(-50vh + 166px);
    position: absolute;
    margin-left: calc(-2vw - 20px);
  }
  .mia::before {
    content: "";
    border-right: white 2px solid;
    border-bottom: white 2px solid;
    width: 20vw;
    height: calc(50vh + 1600px);
    margin-top: calc(-50vh + 166px);
    position: absolute;
    margin-left: calc(-18vw + 25px);
  }
  .zedas::before {
    content: "";
    border-left: white 2px solid;
    width: 1px;
    height: calc(50vh + 2400px);
    margin-top: calc(-50vh + 166px);
    position: absolute;
    margin-left: calc(6vw + 75px);
  }
}